label{
    font-family: cursive;
}
#lname{
    margin-left: 5px;
}

select{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid rosybrown;
    border-color: rgb(47, 26, 67);
    border-width: 2px;
    border-radius: 5px;
    width:200px;
    padding:5px;
    font-size:12pt;
}

.name{
    
    box-shadow: salmon;
    padding:5px;
    width: 300px;
    height: fit-content;
    
}
.container{
    background-color: rgb(246, 219, 195);
    box-shadow: salmon;
    padding:5px;
    border: solid rosybrown;
    border-color: rgb(239, 215, 215);
    border-width: 2px;
    border-radius: 9px;
    width: 300px;
    height: fit-content;
    width:fit-content;
}

textarea{
    width: 400px;
}
fieldset{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    legend{
        color: rgb(49, 4, 4);
        border-color: blueviolet;
    }
    
}
#edu{
    width:200px;

    
    #edus{
        width:300px;
    }
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel{
   background-color:transparent;
    margin:2px;
    width:300px;
    color:transparent;
    opacity: 0;
}

